.about {
  padding: var(--gap-section-y) 0;
  position: relative;
  z-index: 1;
  &__container {
  }
  &__title {
    margin: 0 0 var(--title-gap);
    @media (max-width: $sm) {
      font-size: var(--fs-2);
    }
  }
  &__list {
    &-card {
      &:not(:last-child) {
        margin-bottom: var(--gap-fluid);
      }
    }
  }
}