.faq {
  padding: var(--gap-section-y) 0 104rem;
  @media (max-width: $lg) {
    padding-bottom: 84rem;
  }
  &__container {
  }
  &__title {
    margin: 0 0 var(--title-gap);
    @media (max-width: $sm) {
      font-size: var(--fs-2);
    }
  }
  &__list {
    &-card {
      &:not(:last-child) {
        margin-bottom: var(--gap);
        @media (max-width: $sm) {
        }
      }
    }
  }
}