<header class="header-chat chat__header">
  <div class="container container--size-fluid header-chat__container">
    <div class="header-chat__col header-chat__col--logo">
      <a href="/" class="logo logo--size-md header-chat__logo">
        <picture class="logo__img">
          <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
        </picture>
      </a>
    </div>
    <div class="header-chat__col header-chat__col--center">
      <div class="u-breadcrumbs header-chat__breadcrumbs">
        <ul class="u-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="chat.html" itemprop="item">
              <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
        </ul>
      </div>
    </div>
    <div class="header-chat__col header-chat__col--action">
      <ul class="header-chat__router">
        <li class="header-chat__router-item">
          <a href="#" class="btn btn--size-md btn--theme-accent header-chat__router-link">
            <span class="btn__inner">
              <span class="btn__title">Выйти</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="js-header-chat-toggle-open d-lg-block header-chat__toggle">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-open"></use>
      </svg>
    </button>
    <a href="chat.html" class="d-lg-block btn btn--size-xs btn--theme-beige header-chat__btn-new-chat">
      <span class="btn__inner">
        <span class="btn__title">Новый чат</span>
        <svg class="u-icon btn__icon btn__icon--dir-rtl">
          <use xlink:href="images/icons/icons.svg#plus-btn"></use>
        </svg>
      </span>
    </a>
  </div>
</header>