<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col footer__row-col footer__row-col--logo">
        <a href="/" class="logo logo--size-sm footer__logo">
          <picture class="logo__img">
            <img src="images/logo-type-1.svg" width="144" height="38" alt="Life AI">
          </picture>
        </a>
        <p class="footer__copyright">© 2024 EVa AI.&nbsp;<br class="d-md-none">Все права защищены</p>
      </div>
      <div class="row__col footer__row-col footer__row-col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">Сайт</p>
            </li>
            <li class="footer__nav-item">
              <a href="#about" class="js-anchor footer__nav-link">Возможности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#target-audience" class="js-anchor footer__nav-link">Для кого</a>
            </li>
            <li class="footer__nav-item">
              <a href="#reviews" class="js-anchor footer__nav-link">Отзывы</a>
            </li>
            <li class="footer__nav-item">
              <a href="#faq" class="js-anchor footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col footer__row-col footer__row-col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">Помощь</p>
            </li>
            <li class="footer__nav-item">
              <a href="contacts.html" class="footer__nav-link">Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>