<header class="d-lg-block header-chat">
  <div class="container container--size-md header-chat__container">
    <button type="button" class="js-header-chat-toggle header-chat__toggle">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-open"></use>
      </svg>
    </button>
    <a href="chat.html" class="chat-btn chat-btn--size-md chat-btn--theme-grey header-chat__new-chat">
      <span class="chat-btn__inner">
        <span class="chat-btn__icon chat-btn__icon--dir-rtl">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#plus-type-2"></use>
          </svg>
        </span>
        <span class="chat-btn__title">Новый чат</span>
      </span>
    </a>
  </div>
  <div class="js-header-chat-toggle-close d-lg-block header-chat__overlay"></div>
</header>