/* Headings, Common BEM Blocks, and More... */

.logo {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: top;
  transition: $transition;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      opacity: .75;
    }
  }
  &--size {
    &-sm {
      width: 106rem;
    }
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.btn-group {
  --btn-group-gap: 6rem;
  overflow: hidden;
  &--gap {
    &-sm {
      --btn-group-gap: 4rem;
    }
  }
  &__inner {
    margin: calc(-1 * var(--btn-group-gap));
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    padding: var(--btn-group-gap);
  }
  &__el {
  }
}

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    background: $greyLightColor;
    color: $whiteColor;
    pointer-events: none;
  }
  &--theme {
    &-accent-outline {
      background: transparent;
      color: $whiteColor;
      border: 1px solid $accentColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .1);
        }
      }
      &:focus,
      &:active {
      }
    }
    &-accent-fill {
      background: $accentColor;
      color: $whiteColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $purpleDarkColor;
        }
      }
      &:focus,
      &:active {
      }
    }
    &-red-outline {
      background: rgba($redColor, .25);
      color: $redColor;
      border: 1px solid $redColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($redColor, .1);
        }
      }
      &:focus,
      &:active {
      }
    }
    &-grey-fill {
      background: rgba($whiteColor, .1);
      backdrop-filter: blur(5px);
      color: $greyLightColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .2);
          color: $whiteColor;
        }
      }
      &:focus,
      &:active {
      }
    }
    &-black-accent-outline {
      background: $gradientAccent1;
      &:before {
        background: $darkColor;
        content: '';
        color: $whiteColor;
        border-radius: inherit;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
      }
    }
    &-grey-outline {
      background: $greyMediumColor;
      &:before {
        background: rgba($blackColor, .5);
        content: '';
        color: $whiteColor;
        border-radius: inherit;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
      }
    }
  }
  &--size {
    &-xs {
      --btn-height: 28rem;
      --btn-padding-x: 14rem;
      --btn-padding-y: 4rem;
      --btn-font-size: var(--fs-5);
      border-radius: 40rem;
      @media (max-width: $lg) {
        --btn-font-size: var(--fs-3);
      }
    }
    &-sm {
      --btn-height: 38rem;
      --btn-padding-x: 24rem;
      --btn-padding-y: 6rem;
      --btn-font-size: var(--fs-4);
      border-radius: 40rem;
      @media (max-width: $lg) {
        --btn-font-size: var(--fs-3);
      }
    }
    &-semi {
      --btn-height: 42rem;
      --btn-padding-x: 8rem;
      --btn-padding-y: 6rem;
      --btn-font-size: var(--fs-4);
      border-radius: 40rem;
      @media (max-width: $lg) {
        --btn-font-size: var(--fs-3);
      }
    }
    &-md {
      --btn-height: 52rem;
      --btn-padding-x: 36rem;
      --btn-padding-y: 10rem;
      --btn-font-size: var(--fs-4);
      border-radius: 40rem;
      @media (max-width: $lg) {
        --btn-font-size: var(--fs-3);
      }
    }
    &-lg {
      --btn-height: 80rem;
      --btn-padding-x: 40rem;
      --btn-padding-y: 20rem;
      --btn-font-size: var(--fs-4);
      border-radius: 40rem;
      @media (max-width: $lg) {
        --btn-font-size: var(--fs-3);
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 8rem;
      }
      &-rtl {
        margin-left: 8rem;
        order: 1;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  &--theme {
    &-accent-gradient {
      background-image: $gradientAccent1;
    }
  }
}

.chat-btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: 0;
  display: inline-flex;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: left;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-grey {
      background: rgba($whiteColor, .1);
      color: $whiteColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .1);
        }
        .chat-btn__icon {
          @media (min-width: $lg-mf) {
            background: rgba($blackColor, 1);
          }
        }
      }
      &:focus,
      &:active {
      }
      &.is-active {
        background: rgba($accentColor, .25);
        color: $whiteColor;
        border-color: $purpleMediumColor;
        user-select: none;
        pointer-events: none;
      }
      &:not(.is-active) {
        &:before {
          border-color: transparent;
        }
      }
      &:before {
        width: 100%;
        height: 100%;
        content: '';
        border: 1px solid $accentColor;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .chat-btn__icon {
        background: $accentColor;
        color: $whiteColor;
      }
    }
    &-grey-outline {
      background: transparent;
      color: $greyNeutralColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .1);
        }
        .chat-btn__icon {
          @media (min-width: $lg-mf) {
            background: rgba($blackColor, 1);
          }
        }
      }
      &:focus,
      &:active {
      }
      &:before {
        width: 100%;
        height: 100%;
        content: '';
        border: 1px solid $greyMediumColor;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .chat-btn__icon {
        background: $accentColor;
        color: $whiteColor;
      }
      &.is-active {
        background: rgba($accentColor, .25);
        color: $whiteColor;
        border-color: $purpleMediumColor;
        user-select: none;
        pointer-events: none;
      }
    }
  }
  &--size {
    &-md {
      --btn-height: 40rem;
      --btn-padding-x: 12rem;
      --btn-padding-y: 0rem;
      --btn-font-size: var(--fs-5);
      border-radius: $radiusSm;
      .chat-btn__title {
        padding: var(--btn-padding-y) var(--btn-padding-x);
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radiusSm;
    flex-shrink: 0;
    transition: $transition;
    transition-property: background;
    position: relative;
    &--dir {
      &-ltr {
      }
      &-rtl {
        order: 1;
      }
    }
    .u-icon,
    img,
    svg {
      width: 28rem;
      height: 28rem;
      display: block;
    }
  }
}

.u-input {
  &__label {
    width: 100%;
    display: block;
    position: relative;
  }
  &__el {
    width: 100%;
    display: block;
    font-weight: normal;
    border: none;
    outline: none;
    border-radius: 0;
    transition: $transition;
    transition-property: background, border-color;
    &--size {
      &-md {
        min-height: 54rem;
        padding: 12rem 15rem;
        font-size: var(--fs-4);
        @media (max-width: $lg) {
        }
      }
    }
    &--theme {
      &-grey-outline {
        background: transparent;
        color: $whiteColor;
        border: 1px solid $greyMediumColor;
        border-radius: $radiusSm;
        &:hover {
          text-decoration: none;
          @media (min-width: $lg-mf) {
            border-color: $accentColor;
          }
        }
        &:focus {
          background: rgba($whiteColor, .1);
          border-color: $accentColor;
        }
        &::placeholder {
          color: $greyMediumColor;
        }
      }
    }
    &--type {
      &-text {
      }
      &-textarea {
        resize: none;
      }
    }
  }
}

.u-breadcrumbs {
  &__list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    font-weight: bold;
    flex-wrap: wrap;
    vertical-align: top;
  }
  li {
    max-width: 100%;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;
    &:not(:last-child) {
      &:after {
        margin: .1em 7rem 0 4rem;
        content: '\002F';
        flex-shrink: 0;
      }
    }
    &:last-child {
      color: $accentColor;
    }
  }
  a {
    display: inline-block;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        color: $accentColor;
      }
    }
  }
}

.u-content {
  line-height: $lineHeightDefault;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
  ul {
    margin: 0 0 1em;
    padding: 0 0 0 1.5em;
    li {
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
}

.info-header {
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: $sm) {
      justify-content: flex-start;
    }
  }
  &__media {
    flex-shrink: 0;
  }
  &__icon {
    background: $whiteColor;
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @media (max-width: $sm) {
      width: 24rem;
      height: 24rem;
    }
    .u-icon,
    img {
      width: 28rem;
      height: 28rem;
      @media (max-width: $sm) {
        width: 16rem;
        height: 16rem;
      }
    }
  }
  &__title {
    margin: 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}

.u-rating {
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.7705 6.02816C16.6759 5.74317 16.4117 5.54154 16.1008 5.54154H10.7305L9.07125 0.434807C8.9541 0.176288 8.69839 0 8.40214 0C8.10589 0 7.84962 0.176288 7.73472 0.430301L7.73303 0.434807L6.07378 5.54154H0.704027C0.315404 5.54154 0 5.85694 0 6.24556C0 6.47874 0.113771 6.686 0.28837 6.81386L0.290622 6.81498L4.63475 9.97071L2.9755 15.078C2.95353 15.1433 2.94114 15.2182 2.94114 15.296C2.94114 15.6846 3.25655 16 3.64517 16C3.80062 16 3.94424 15.9499 4.06083 15.8643L4.05857 15.8654L8.40327 12.7085L12.7474 15.8654C12.8617 15.9493 13.0054 15.9994 13.1608 15.9994C13.55 15.9994 13.8654 15.684 13.8654 15.2948C13.8654 15.2171 13.853 15.1422 13.8293 15.0724L13.831 15.0774L12.1712 9.97128L16.5165 6.81498C16.6933 6.68488 16.8065 6.47818 16.8065 6.24444C16.8065 6.16728 16.7941 6.09237 16.7711 6.02309L16.7727 6.02816H16.7705Z" fill="%235D5CE6"/%3E%3C/svg%3E%0A') left center / auto 100% repeat-x;
  width: calc(var(--rating-progress) * 20rem - 3rem);
  height: 16rem;
  display: inline-block;
  vertical-align: top;
  &--theme {
    &-white {
      background-image: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.7705 6.02816C16.6759 5.74317 16.4117 5.54154 16.1008 5.54154H10.7305L9.07125 0.434807C8.9541 0.176288 8.69839 0 8.40214 0C8.10589 0 7.84962 0.176288 7.73472 0.430301L7.73303 0.434807L6.07378 5.54154H0.704027C0.315404 5.54154 0 5.85694 0 6.24556C0 6.47874 0.113771 6.686 0.28837 6.81386L0.290622 6.81498L4.63475 9.97071L2.9755 15.078C2.95353 15.1433 2.94114 15.2182 2.94114 15.296C2.94114 15.6846 3.25655 16 3.64517 16C3.80062 16 3.94424 15.9499 4.06083 15.8643L4.05857 15.8654L8.40327 12.7085L12.7474 15.8654C12.8617 15.9493 13.0054 15.9994 13.1608 15.9994C13.55 15.9994 13.8654 15.684 13.8654 15.2948C13.8654 15.2171 13.853 15.1422 13.8293 15.0724L13.831 15.0774L12.1712 9.97128L16.5165 6.81498C16.6933 6.68488 16.8065 6.47818 16.8065 6.24444C16.8065 6.16728 16.7941 6.09237 16.7711 6.02309L16.7727 6.02816H16.7705Z" fill="%23ffffff"/%3E%3C/svg%3E');
    }
  }
}

.about-card {
  border-radius: $radiusMd;
  position: relative;
  overflow: hidden;
  &__row {
  }
  &__col {
    &--content {
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__media {
    @extend %img-cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &:before,
    &:after, {
      background: rgba($blackColor, .5);
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      z-index: 1;
    }
    &:after {
      z-index: 2;
    }
  }
  &__content {
    padding: var(--gap-fluid);
  }
  &__header {
    &-title {
      margin: 0 0 var(--gap);
    }
    &-text {
      max-width: 536rem;
      color: $greyNeutralColor;
    }
  }
  &__info {
    margin-bottom: 76rem;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    @media (max-width: $md) {
    }
    &-card {
      @media (max-width: $md) {
      }
    }
  }
}

.target-audience-card {
  border-radius: $radiusMd;
  position: relative;
  overflow: hidden;
  &__inner {
    height: 100%;
    padding: var(--gap-fluid);
    display: flex;
    flex-direction: column;
    .target-audience-card__picture {
      &:before {
        background: rgba($blackColor, .25);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }
  &__media {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media (max-width: $sm) {
    }
  }
  &__picture {
    @extend %img-cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media (max-width: $sm) {
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    @media (max-width: $sm) {
      padding: 16rem var(--gap);
      text-align: center;
    }
  }
  &__title {
    margin: 0 0 auto;
  }
  &__text {
    padding-top: 120rem;
    color: $greyNeutralColor;
  }
  &__badge {
    &-list {
      margin-top: auto;
      display: flex;
      gap: var(--gap);
      flex-wrap: wrap;
    }
  }
  &__btn {
    margin: auto auto 0 0;
  }
}

.benefits-card {
  height: 100%;
  padding: var(--gap-fluid);
  border: 1px solid $greyMediumColor;
  border-radius: $radiusMd;
  &__inner {
  }
  &__media {
    margin: 0 0 var(--gap-fluid);
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    position: relative;
  }
  &__svg-progress {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__content {
  }
  &__title {
    margin: 0 0 var(--gap-fluid);
  }
  &__text {
    color: $greyNeutralColor;
  }
}

.features-card {
  height: 100%;
  &--theme {
    &-accent-gradient {
      .features-card__inner {
        background: $gradientAccentReverse1;
        padding: var(--gap-fluid);
        border-width: 0;
      }
      .features-card__media {
        background: $blackColor;
      }
    }
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 23rem;
    border: 1px solid $greyColor;
    border-radius: $radiusMd;
  }
  &__media {
    background: $whiteColor;
    width: 40rem;
    height: 40rem;
    margin: 0 auto var(--gap) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__icon {
    img {
      width: 28rem;
      height: 28rem;
      display: block;
      object-fit: contain;
    }
  }
  &__content {
  }
  &__suptitle {
    margin: 0 0 var(--gap);
  }
  &__title {
    margin: 0 0 var(--gap);
  }
  &__text {
    color: $greyNeutralColor;
  }
  &__footer {
    margin-top: auto;
    padding-top: var(--gap-fluid);
  }
}

.how-works-card {
  &__inner {
  }
  &__counter {
    background: $whiteColor;
    width: 40rem;
    height: 40rem;
    margin: 0 0 var(--gap-fluid);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:before {
      @extend .title, .fs-3, .text-gradient, .text-gradient--theme-accent-gradient;
      content: counter(howWorksCardCounter);
    }
  }
  &__content {
  }
  &__title {
    max-width: 350rem;
    margin: 0 0 var(--gap);
  }
  &__text {
    color: $greyNeutralColor;
  }
}

.examples-card {
  height: 100%;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__media {
    flex-shrink: 0;
    position: relative;
    border-radius: $radiusMd;
    overflow: hidden;
    z-index: 1;
  }
  &__picture {
    @extend %img-cover;
    padding: 0 0 56.25%;
  }
  &__main {
    background: rgba($whiteColor, .1);
    backdrop-filter: blur(5px);
    height: 100%;
    margin-top: -1 * $radiusMd;
    padding-top: $radiusMd;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 $radiusMd $radiusMd;
    flex-grow: 1;
  }
  &__content {
    padding: var(--gap-fluid);
  }
  &__title {
    margin: 0 0 var(--gap);
  }
  &__text {
    margin: 0 0 var(--gap);
    color: $greyNeutralColor;
    letter-spacing: -.015em;
    @media (max-width: $sm) {
      margin-bottom: var(--gap-fluid);
    }
  }
  &__appeal {
    --btn-padding-y: 12rem;
    background: transparent;
    backdrop-filter: blur(20px);
    margin: var(--gap-fluid);
    font-weight: bold;
    font-size: 13rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15rem;
    letter-spacing: .015em;
    @media (max-width: $sm) {
    }
  }
  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $sm) {
      flex-direction: column;
    }
    &-btn {
      @extend %area-click, %btn-reset;
      font-weight: bold;
      font-size: inherit;
      color: $accentColor;
      flex-shrink: 0;
      cursor: pointer;
      transition: $transition;
      @media (max-width: $lg) {
        font-size: var(--fs-3);
      }
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $whiteColor;
        }
      }
    }
  }
}

.reviews-rating {
  border-radius: $radiusMd;
  &--theme {
    &-accent {
      background: $gradientAccentReverse1;
      padding: 48rem;
      color: $whiteColor;
    }
    &-accent-blur {
      color: $whiteColor;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        border-radius: inherit;
      }
      &:before {
        background: $gradientAccent1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .4;
        z-index: -2;
      }
      &:after {
        background: rgba($blackColor, .6);
        backdrop-filter: blur(10px);
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        z-index: -1;
      }
    }
  }
  &__inner {
    height: 100%;
    padding: var(--gap-fluid);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    img {
      width: 24rem;
      height: 24rem;
      height: auto;
      display: block;
      object-fit: contain;
    }
    &-list {
      display: flex;
      justify-content: center;
      gap: 16rem;
      flex-wrap: wrap;
    }
  }
  &__logo-brand {
    margin: 0 0 var(--gap-fluid);
    img {
      width: 58rem;
      height: auto;
      display: block;
    }
  }
  &__estimation {
    margin: 0 0 8rem;
    font-size: 40rem;
    line-height: $lineHeight5;
  }
  &__rating {
    margin: 0 0 var(--gap);
  }
  &__description {
    margin: 0 0 var(--gap);
    font-size: var(--fs-5);
    color: $greyColor;
  }
}

.reviews-card {
  border-radius: $radiusMd;
  box-shadow: inset 0 0 0 1px $greyColor;
  &--theme {
    &-black {
      background: rgba($blackColor, .5);
      backdrop-filter: blur(10px);
      box-shadow: none;
    }
  }
  &__inner {
    height: 100%;
    padding: var(--gap-fluid);
    display: flex;
    flex-direction: column;
  }
  &__header {
    margin-bottom: var(--gap);
    padding-bottom: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($greyMediumColor, .25);
  }
  &__user,
  &__info {
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__user {
  }
  &__name {
    margin: 0 0 5rem;
    @media (max-width: $lg) {
      font-size: var(--fs-3);
    }
  }
  &__position {
    font-size: var(--fs-5);
    color: $greyMediumColor;
  }
  &__info {
    flex-shrink: 0;
  }
  &__rating {
    margin: 0 0 8rem;
  }
  &__date {
    font-size: var(--fs-5);
    color: $greyMediumColor;
    text-align: right;
  }
  &__content {
  }
  &__text {
    color: $greyNeutralColor;
  }
}

.faq-card {
  $faqCardGapLgY: 24rem;
  $faqCardGapLgX: 24rem;
  transition: $transition;
  transition-property: background, color, box-shadow;
  overflow: hidden;
  @media (max-width: $md) {
  }
  &--theme {
    &-grey {
      box-shadow: inset 0 0 0 1px $greyMediumColor;
      border-radius: $radiusMd;
      &:hover {
        @media (min-width: $lg-mf) {
        }
        .faq-card__icon {
          @media (min-width: $lg-mf) {
            background: $pinkColor;
          }
        }
      }
      &.is-show {
        .faq-card__dropdown {
          @media (max-width: $md) {
          }
        }
        .faq-card__icon {
          background: $darkColor;
          .u-icon {
            transform: rotate(135deg);
          }
        }
      }
      .faq-card__header {
        padding: $faqCardGapLgY $faqCardGapLgX;
      }
      .faq-card__icon {
        background: $accentColor;
        color: $whiteColor;
      }
      .faq-card__inner {
        padding: 0 $faqCardGapLgX $faqCardGapLgY $faqCardGapLgX;
      }
    }
    &-white-simple {
      &:hover {
        @media (min-width: $lg-mf) {
        }
        .faq-card__icon {
          @media (min-width: $lg-mf) {
            background: $darkColor;
          }
        }
      }
      &.is-show {
        .faq-card__icon {
          background: $darkColor;
          .u-icon {
            transform: rotate(135deg);
          }
        }
      }
      .faq-card__header {
        padding: $faqCardGapLgY 0;
        @media (max-width: $lg) {
          padding: 20rem 0;
        }
      }
      .faq-card__icon {
        background: $accentColor;
        color: $whiteColor;
      }
      .faq-card__dropdown {
        @media (max-width: $lg) {
          margin-top: -20rem;
          padding-top: 20rem;
        }
      }
      .faq-card__inner {
        padding: 0 0 $faqCardGapLgY;
        @media (max-width: $lg) {
          padding-bottom: 20rem;
        }
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    transition: $transition;
    transition-property: color;
    position: relative;
  }
  &__btn {
    @extend %btn-reset, %link-cover;
    color: inherit;
    text-align: left;
    flex-grow: 1;
    cursor: pointer;
    &:before {
      z-index: 1;
    }
  }
  &__title {
    margin: 0 var(--gap-fluid) 0 0;
  }
  &__icon {
    width: 40rem;
    height: 40rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    transition: $transition;
    transition-property: background, color;
    .u-icon {
      width: 24rem;
      height: 24rem;
      display: block;
      transition: $transition;
      transition-property: transform;
    }
  }
  &__dropdown {
    height: 0;
    margin-top: -$faqCardGapLgY;
    padding-top: $faqCardGapLgY;
    transition: $transition;
    overflow: hidden;
  }
  &__inner {
  }
  &__text {
    color: $greyNeutralColor;
  }
}

.u-privacy {
  font-size: var(--fs-5);
  color: $greyMediumColor;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  a {
    color: $accentColor;
    transition: $transition;
    transition-property: color, box-shadow;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        color: $whiteColor;
      }
    }
  }
}

.tab-nav {
  border-radius: $radiusSm;
  &__list {
    margin: 0;
    padding: 4rem;
    display: flex;
    list-style-type: none;
    overflow: hidden;
  }
  &__item {
    margin: 0;
    padding: 0;
    flex: 1;
  }
  &__btn {
    @extend %btn-reset;
    width: 100%;
    min-height: 40rem;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--fs-5);
    color: $greyMediumColor;
    text-align: center;
    border-radius: $radiusXs;
    cursor: pointer;
    transition: $transition;
    &:hover {
      @media (min-width: $lg-mf) {
        color: $whiteColor;
      }
    }
    &.is-active {
      background: $whiteColor;
      color: $accentColor;
      pointer-events: none;
    }
  }
}

.u-textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 28rem 150rem 28rem 16rem;
  display: block;
  font-weight: normal;
  font-size: var(--fs-4);
  border: none;
  outline: none;
  transition: $transition;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  @media (max-width: $lg) {
    padding-right: 74rem;
  }
  &--theme {
    &-white {
      background: $darkLightColor;
      color: $whiteColor;
      border: 1px solid $greyMediumColor;
      border-radius: $radiusSm;
      @media (max-width: $lg) {
        background: rgba($whiteColor, .1);
        backdrop-filter: blur(5px);
      }
      &:hover {
        @media (min-width: $lg-mf) {
        }
      }
      &:focus {
      }
      &::placeholder {
        color: $greyMediumColor;
      }
    }
  }
  &--size {
    &-md {
      height: 80rem;
    }
  }
}

.btn-send {
  @extend %btn-reset;
  transition: $transition;
  overflow: hidden;
  cursor: pointer;
  &--size {
    &-md {
      width: 48rem;
      height: 48rem;
    }
  }
  &--theme {
    &-accent {
      background: $accentColor;
      border-radius: 50%;
      color: $whiteColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $purpleDarkColor;
        }
      }
      &:focus {
        box-shadow: 0 0 0 3rem rgba($accentColor, .4);
      }
      &:disabled {
        user-select: none;
        pointer-events: none;
      }
    }
  }
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
  }
  &__icon {
    width: 50%;
    height: 50%;
    position: relative;
    .u-icon {
      width: 100%;
      height: 100%;
      display: block;
      transition: $transition;
      transition-property: transform;
    }
  }
}

.chat-version {
  max-width: 100%;
  position: relative;
  &--size {
    &-md {
      min-width: 54rem;
      font-size: var(--fs-6);
    }
  }
  &--theme {
    &-grey {
      color: $greyLightColor;
      .chat-version__dropdown {
        background: rgba($purpleColor, .25);
        color: $whiteColor;
      }
      .chat-version__toggle {
        background: rgba($whiteColor, .1);
      }
    }
  }
  &:not(.is-show) {
    .chat-version__dropdown {
      transform: scale(.4);
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  &.is-show {
    .chat-version__toggle {
      background: rgba($purpleColor, .25);
    }
  }
  &__inner {
  }
  &__dropdown {
    margin-bottom: 4rem;
    padding: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $whiteColor;
    border-radius: $radiusSm;
    position: absolute;
    bottom: 100%;
    right: 0;
    transform-origin: right bottom;
    transition: all .24s;
    transition-property: transform, opacity, visibility;
    z-index: -1;
    &-btn {
      @extend %btn-reset;
      padding: 6rem;
      font-weight: bold;
      font-size: inherit;
      transition: $transition;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $greyLightColor;
        }
      }
    }
  }
  &__toggle {
    @extend %btn-reset;
    width: 100%;
    padding: 3rem 7rem 3rem 3rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: inherit;
    color: currentColor;
    border-radius: $radiusSm;
    cursor: pointer;
    transition: $transition;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        background: rgba($purpleColor, .25);
      }
    }
    &-icon {
      width: 24rem;
      height: 24rem;
      flex-shrink: 0;
    }
    &-title {
    }
  }
}

.hint-btn {
  @extend %btn-reset;
  padding: calc(2 * var(--gap-fluid)) var(--gap-fluid);;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--fs-4);
  color: $greyMediumColor;
  text-align: left;
  border: 1px solid $greyMediumColor;
  border-radius: $radiusSm;
  cursor: pointer;
  transition: $transition;
  @media (max-width: $sm) {
    padding: 15rem 23rem;
  }
  &:hover {
    @media (min-width: $lg-mf) {
      background: rgba($whiteColor, .1);
      color: $whiteColor;
    }
  }
  &__inner {
    display: block;
  }
  &__title {
    display: block;
    @media (max-width: $lg) {
      max-width: 160rem;
    }
    @media (max-width: $xs) {
      max-width: 100%;
    }
  }
}

.history-item {
  &__inner {
    background: rgba($whiteColor, .1);
    backdrop-filter: blur(5px);
    padding: var(--gap-fluid);
    color: $greyNeutralColor;
    border-radius: $radiusSm;
    position: relative;
    transition: $transition;
    transition-property: background;
    &:hover {
      @media (min-width: $lg-mf) {
        background: rgba($whiteColor, .2);
      }
    }
  }
  &__suptitle {
    margin: 0 0 4rem;
    font-weight: bold;
    font-size: var(--fs-7);
    text-transform: uppercase;
  }
  &__title {
    margin: 0 0 var(--gap);
    font-weight: normal;
    font-size: var(--fs-5);
    color: $whiteColor;
  }
  &__link {
    @extend %link-cover;
    &:hover {
      text-decoration: none;
    }
  }
  &__footer {
    margin: var(--gap) 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
    font-size: var(--fs-6);
  }
  &__action {
    display: flex;
    align-items: center;
    &-btn {
      @extend %area-click, %btn-reset;
      width: 14rem;
      height: 14rem;
      color: $greyLightColor;
      border-radius: $radiusXs;
      cursor: pointer;
      transition: $transition;
      transition-property: color;
      position: relative;
      z-index: 1;
      &:before {
        border-radius: inherit;
        transition: $transition;
      }
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $whiteColor;
        }
        &:before {
          @media (min-width: $lg-mf) {
          }
        }
        &:focus {
          outline: none;
        }
      }
      &:focus {
        outline: 3rem solid rgba($accentColor, .4);
        outline-offset: 4rem;
      }
      &:not(:last-child) {
        margin-right: 8rem;
      }
      .u-icon {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.action-btn {
  min-width: var(--btn-width);
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-grey {
      background: transparent;
      color: $greyLightColor;
      border: 1px solid $greyLightColor;
      border-radius: $radiusSm;
      &:hover {
        @media (min-width: $lg-mf) {
          color: $whiteColor;
          border-color: $whiteColor;
        }
      }
      &:focus,
      &:active {
      }
      &:focus {
        box-shadow: 0 0 0 3rem rgba($greyLightColor, .4);
      }
    }
  }
  &--size {
    &-md {
      --btn-width: 36rem;
      --btn-height: 36rem;
      --btn-padding-x: 4rem;
      --btn-padding-y: 4rem;
      --btn-font-size: var(--fs-7);
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  .u-icon,
  img,
  svg,
  .action-btn__icon {
    width: 24rem;
    height: 24rem;
    display: block;
    &:first-child:last-child {
      margin: 0 !important;
    }
    &--dir {
      &-ltr {
        margin-right: 4rem;
        margin-left: 3rem;
      }
      &-rtl {
        margin-right: 3rem;
        margin-left: 4rem;
      }
    }
  }
  &__title {
  }
}

.u-message {
  padding: 16rem;
  display: table;
  font-size: var(--fs-4);
  border-radius: $radiusSm;
  position: relative;
  overflow: hidden;
  @media (max-width: $sm) {
  }
  &--user {
    background: rgba($whiteColor, .1);
    margin-left: auto;
    color: $greyNeutralColor;
    @media (max-width: $lg) {
      backdrop-filter: blur(5px);
    }
    .u-message__action ~ .u-message__content {
      margin-left: 164rem;
      @media (max-width: $sm) {
        margin-left: 0;
      }
    }
    .u-message__action {
      top: 16rem;
      left: 16rem;
      @media (max-width: $sm) {
        top: initial;
        bottom: var(--gap-fluid);
        left: 16rem;
      }
    }
  }
  &--chat {
    background: rgba($whiteColor, .1);
    width: 100%;
    color: $whiteColor;
    @media (max-width: $lg) {
      backdrop-filter: blur(5px);
    }
    .u-message__action ~ .u-message__content {
      margin-right: 164rem;
      @media (max-width: $sm) {
        margin-right: 0;
      }
    }
    .u-message__action {
      top: 16rem;
      right: 16rem;
      @media (max-width: $sm) {
        top: initial;
        right: initial;
        bottom: var(--gap-fluid);
        left: 16rem;
      }
    }
  }
  &__content {
    max-width: 100%;
    @media (max-width: $sm) {
    }
  }
  &__action ~ &__content {
    margin-top: 8rem;
    margin-bottom: 32rem;
    @media (max-width: $sm) {
      margin: 0 0 var(--gap-fluid);
    }
  }
  &__action ~ *:last-child {
    @media (max-width: $sm) {
      margin-bottom: 66rem;
    }
  }
  &__images {
    margin: 24rem -6rem 0;
    display: flex;
    border-radius: $radiusXxs;
    &-col {
      max-width: 50%;
      padding: 0 6rem;
      flex: 0 0 50%;
    }
    &-item {
      @extend %img-cover;
      background: $blackColor;
      padding-bottom: 51.5695067265%;
      border-radius: $radiusXxs;
    }
  }
  &__action {
    display: flex;
    position: absolute;
    z-index: 1;
    @media (max-width: $sm) {
    }
    &-btn {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
}

.upload-file {
  display: block;
  &__control {
    display: none;
  }
  &__inner {
    display: block;
  }
  &__label {
    background: rgba($whiteColor, .1);
    padding: 36rem;
    border-radius: $radiusSm;
    display: block;
    position: relative;
    transition: $transition;
    transition-property: background;
    cursor: pointer;
    @media (max-width: $lg) {
      padding-top: 48rem;
      padding-bottom: 48rem;
    }
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        background: rgba($whiteColor, .15);
      }
      &:before {
        @media (min-width: $lg-mf) {
          border-color: $accentColor;
        }
      }
    }
    &:before {
      content: '';
      border: 1px dashed transparent;
      border-color: $greyMediumColor;
      border-radius: inherit;
      position: absolute;
      top: 16rem;
      right: 16rem;
      bottom: 16rem;
      left: 16rem;
      transition: $transition;
      transition-property: border-color;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__picture {
    width: 64rem;
    height: 64rem;
    color: $greyMediumColor;
    img,
    .u-icon,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__title {
    margin: 8rem 0 0;
    font-weight: bold;
    font-size: var(--fs-5);
    color: $greyNeutralColor;
  }
  &__limitation {
    margin: 8rem 0 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-5);
    color: $greyMediumColor;
    @media (max-width: $sm) {
      font-size: var(--fs-7);
    }
    &-text {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
      strong {
        @media (max-width: $sm) {
          display: block;
        }
      }
    }
  }
}

.change-btn {
  @extend %area-click, %btn-reset;
  max-width: 100%;
  display: table;
  font-weight: bold;
  font-size: var(--fs-4);
  color: $accentColor;
  cursor: pointer;
  transition: $transition;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      color: $purpleDarkColor;
    }
  }
}

.subscription-card {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $lg) {
      align-items: flex-start;
    }
  }
  &__main {
    padding-right: 10rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @media (max-width: $lg) {
      padding-right: 18rem;
      align-items: flex-start;
    }
  }
  &__picture {
    max-width: 48rem;
    height: 48rem;
    margin-right: 8rem;
    flex: 0 0 48rem;
    @media (max-width: $lg) {
      max-width: 24rem;
      height: 24rem;
      flex-basis: 24rem;
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 4rem;
  }
  &__description {
    margin: 0;
    font-size: var(--fs-6);
    color: $greyMediumColor;
    @media (max-width: $lg) {
      margin-right: -8rem;
    }
  }
  &__status {
    flex-shrink: 0;
    display: flex;
    &-item {
      width: 36rem;
      height: 36rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @media (max-width: $lg) {
        width: 24rem;
        height: 24rem;
      }
      &:not(:last-child) {
        margin-right: 40rem;
        @media (max-width: $lg) {
          margin-right: 26rem;
        }
      }
      &.is-true {
        background: $accentColor;
        color: $whiteColor;
      }
      &.is-false {
        background: $darkMediumColor;
        color: $whiteColor;
      }
      .u-icon {
        width: 24rem;
        height: 24rem;
        display: block;
        @media (max-width: $lg) {
          width: 18rem;
          height: 18rem;
        }
      }
    }
  }
}

.subscription-choose {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  &__control {
    display: none;
  }
  &__control:checked ~ &__inner {
    background: rgba($whiteColor, .1);
    color: $whiteColor;
    border-color: $accentColor;
  }
  &__inner {
    height: 100%;
    padding: 7rem 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $greyMediumColor;
    border: 1px solid $greyMediumColor;
    border-radius: $radiusSm;
    transition: $transition;
    @media (max-width: $md) {
    }
    &:hover {
      @media (min-width: $lg-mf) {
        border-color: $accentColor;
      }
    }
  }
  &__title {
    margin: 0 12rem 0 0;
    @media (max-width: $md) {
    }
  }
  &__price {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    @media (max-width: $md) {
    }
    &-old {
      margin: 0 4rem 0 0;
      line-height: 1;
      color: $greyNeutralColor;
      text-decoration: line-through;
      transition: $transition;
      transition-property: color;
      @media (max-width: $md) {
      }
    }
    &-new {
      background: rgba($whiteColor, .1);
      padding: 7rem 8rem;
      line-height: 1;
      border-radius: $radiusXs;
      transition: $transition;
      @media (max-width: $md) {
      }
    }
  }
  &__control:checked ~ &__inner &__price-old {
  }
  &__control:checked ~ &__inner &__price-new {
    background: $whiteColor;
    color: $accentColor;
  }
}

.router-btn {
  @extend %area-click, %btn-reset;
  font-weight: bold;
  font-size: var(--fs-4);
  transition: $transition;
  cursor: pointer;
  @media (max-width: $lg) {
    font-size: var(--fs-3);
  }
  &--theme {
    &-accent {
      color: $accentColor;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $purpleDarkColor;
        }
      }
    }
  }
}

.sc-auth {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__title {
    margin: 0 var(--gap-fluid) 0 0;
    flex-shrink: 0;
    @media (max-width: $lg) {
      font-size: var(--fs-3);
    }
    @media (max-width: $sm) {
      max-width: 100%;
      margin: 0 0 var(--gap);
      flex-basis: 100%;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    &-item {
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin-right: var(--gap);
      }
    }
    &-btn {
      @extend %area-click, %btn-reset;
      width: 24rem;
      height: 24rem;
      display: block;
      transition: $transition;
      cursor: pointer;
      &:hover {
        @media (min-width: $lg-mf) {
          opacity: .6;
        }
      }
      .u-icon {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

.swiper-button {
  @extend %btn-reset, %area-click;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  transition-property: color, box-shadow;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  &.swiper-button-disabled {
    pointer-events: none;
    opacity: .4;
  }
  &-prev {
    .u-icon {
      left: -1rem;
    }
  }
  &-next {
    .u-icon {
      right: -1rem;
      transform: scaleX(-1);
    }
  }
  .u-icon {
    width: 24rem;
    height: 24rem;
    display: block;
    position: relative;
  }
  &--size {
    &-sm {
      width: 40rem;
      height: 40rem;
      border-radius: 50%;
    }
  }
  &--theme {
    &-accent {
      background: $accentColor;
      color: $whiteColor;
      &:hover {
        @media (min-width: $lg-mf) {
        }
      }
    }
  }
}

.slider-control {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    &:not(:last-child) {
      margin-right: 8rem;
    }
  }
}

.info-card {
  &__inner {
    display: flex;
    align-items: flex-start;
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }
  &__picture {
    width: 40rem;
    height: 40rem;
    margin-right: var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    @media (max-width: $sm) {
      width: 28rem;
      height: 28rem;
      margin-bottom: var(--gap);
    }
    img {
      width: 28rem;
      height: 28rem;
    }
  }
  &__content {
    @media (max-width: $sm) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  &__title {
    margin: 0 0 var(--gap);
    @media (max-width: $sm) {
      margin-bottom: 8rem;
    }
    span {
      @extend .text-gradient, .text-gradient--theme-accent-gradient;
    }
  }
  &__text {
    color: $greyNeutralColor;
  }
}